body {
  background-color: #fcfcf7;
  display: flex;
}

div.password_form {
  background-color: #fffff0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 500px;
  width: 500px;
  /*margin-left: 490px;
  margin-top: 200px;*/
}
button {
  background-color: #bc13fe;
  color: #fff;
}
