body {
  background-color: #fffff0;
}

div.password_form {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}
button {
  background-color: #bc13fe;
  color: #fff;
}
